absl-py==0.13.0
aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
alabaster==0.7.12
alembic==1.6.2
altair==4.1.0
anyio==3.0.1
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.9.3
bleach==3.3.0
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.2
cchardet==2.1.7
certifi==2020.12.5
certipy==0.1.3
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
cycler==0.10.0
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dataclasses==0.6
decorator==5.0.7
defusedxml==0.7.1
docopt==0.6.2
docutils==0.17.1
easygui==0.98.2
elasticsearch==7.14.0
emoji==1.6.1
entrypoints==0.3
fake-useragent==0.1.11
filelock==3.0.12
Flask==2.0.1
Flask-Compress==1.10.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gdown @ git+https://github.com/giuliano-oliveira/gdown_folder.git@a3fb6565e56b8294994f1faa2534a5a2a31a7b94
geographiclib==1.52
geopy==2.2.0
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.33.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googletransx==2.4.2
graphviz==0.16
greenlet==1.1.0
grpcio==1.34.1
gsheetsdb==0.1.13
h5py==3.1.0
helper
idna==2.10
imageio==2.9.0
imagesize==1.2.0
ipykernel==5.5.4
ipyparallel==6.3.0
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.7.0
jupyter-telemetry==0.1.0
jupyterhub==1.4.1
jupyterlab==3.0.15
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.1
jupyterlab-widgets==1.0.0
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.0
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mlxtend==0.18.0
mo-dots==4.22.21108
mo-future==3.147.20327
mo-imports==3.149.20327
mo-kwargs==4.22.21108
mo-logs==4.23.21108
moz-sql-parser==4.40.21126
multidict==5.1.0
natsort==7.1.1
nbclassic==0.2.8
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.2
nose==1.3.7
notebook==6.3.0
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pathlib2==2.3.6
patsy==0.5.1
pickleshare==0.7.5
Pillow==8.2.0
pipreqs==0.4.11
plotly==4.14.3
plotly-express==0.4.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.17.3
psutil==5.8.0
py==1.10.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.0.0
pycparser==2.20
pydeck==0.6.2
pydotplus==2.0.2
Pygments==2.9.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
pyshark==0.4.3
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger==2.0.1
python-socks==1.2.4
pytz==2021.1
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.1.0
QtPy==1.9.0
rank-bm25 @ git+https://git@github.com/dorianbrown/rank_bm25.git@45e784b53b5175c14ae243032bc317e0aa08d7a8
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
schedule==1.1.0
scikit-image==0.18.3
scikit-learn==0.24.2
scikit-plot==0.3.7
scipy==1.6.3
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.15
statsmodels==0.12.2
streamlit==1.0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.9.5
testpath==0.4.4
textblob==0.15.3
threadpoolctl==2.1.0
tifffile==2021.8.30
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
validators==0.18.2
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.59.0
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wordcloud
wrapt==1.12.1
yarg==0.1.9
yarl==1.6.3
